<!-- Logo Header -->
<div class="logo-header" data-background-color="red">


    {% set currentUrl  =  path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <a href="{{ path("dashboard") }}" class="logo">
        <img src="{{ asset('assets/img/logo.png') }}"
             alt="navbar brand" class="navbar-brand">
    </a>

    {# El menu se oculta en caso que la url contenga "create" y "edit" #}

        <button class="navbar-toggler sidenav-toggler ml-auto {{  ( ('create' in  currentUrl)  or ( 'edit' in currentUrl) )?  'd-none d-sm-block' :'' }}"
                type="button"
                data-toggle="collapse"
                data-target="collapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
        </button>

        <button class="topbar-toggler more d-none d-sm-block">
            <i class="fas fa-ellipsis-v"></i>
        </button>

        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="fas fa-bars"></i>
            </button>
        </div>


    {# Solo muestra el icono de buscar cuando en la url tenga el string 'list'#}
    {% if 'list' in currentUrl  %}
        <div id="filter-mobile">
            <a href="#" class="d-block d-sm-none text-white" data-toggle="modal" data-target="#filter-modal">
                <i class="fas fa-search filter-icon"></i>
            </a>
        </div>
    {% endif %}


    {# Solo muestra el icono de volver cuando en la url tenga el string 'edit' o 'create' #}
    {% if 'create' in  currentUrl or 'edit' in  currentUrl %}
        <div id="back-mobile">
            <a href="{{ path(list_path) }}" class="d-block d-sm-none text-white" >
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
    {% endif %}

</div>
<!-- End Logo Header -->