<nav class="navbar navbar-header navbar-expand-lg" data-background-color="red2">
    <div class="container-fluid">

        <h3 class="float-left text-white">
            Sistema de Control de Ingresos
        </h3>
        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

            <li class="nav-item dropdown hidden-caret">
                <a class="dropdown-toggle text-white" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                        {{   app.user.surname }}, {{ app.user.name }}<br>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                        <li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">My Balance</a>
                            <a class="dropdown-item" href="#">Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('logout') }}">
                                <i class="fas fa-sign-out-alt"></i>
                                Salir
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</nav>
