<h1>Hola {{ fullName }}!</h1>:
<p style="
    font-weight: bold;
    color: black;
    text-align: center;
">Recientemente, alguien solicitó cambiar la contraseña de tu cuenta </p>

<p style="
    margin-bottom: 19px;
    text-align: center;
    color: black;
">
    Si solicitaste el cambio, puedes crear una nueva contraseña aquí:
</p>

<div style="
    width: 204px;
    margin: 0 auto;"
>
    <a href="{{ url('reset_password', {token: resetToken.token}) }}"
       target="_blank"
       style="
               font-size:15px;
               color:white;
               text-decoration:none;
               padding:14px 22px;
               width:210px;
               text-align:center ;
                background:#1572E8"
    >
        Restablecer contraseña
    </a>
</div>
<p style="margin-top: 19px;text-align: center;color: black">Este enlace expirará dentro de
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
<br>
<p style="text-align: center;color: black">Si no quieres cambiar tu contraseña o no solicitaste hacerlo, ignora y
    elimina el mensaje.</p><br>';




